[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/goyo"]
	path = vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-table-mode"]
	path = vim/bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf
[submodule "vim/bundle/vim-colors-pencil"]
	path = vim/bundle/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil
[submodule "vim/bundle/vim-bracketed-paste"]
	path = vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
